.navbar {
    background-color: var(--navbar-background);
    border: 1px solid var(--border-color);
    box-shadow: var(--main-shadow-100);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 0 20px;
}


.mobileMenu{
    display: none;
}

.SignBtn {
    display: flex;
    gap: 10px;
}

@media (max-width: 440px) {
    .mobileMenu{
        display: inline-block;
    }
    .logBtn {
        display: none;
    }
}