.link {
    background-color: var(--sidebar-items-background);
    border-radius: 5px;
    box-shadow: var(--main-shadow-100);
    display: flex;
    align-items: center;

    margin-bottom: 10px;
    padding: 10px;
    text-decoration: none;
    width: 178px;

    font-size: 16px;
    font-weight: 600;
    &:hover {
        background-color: var(--font-color-100-hover);
        box-shadow: var(--main-shadow-200)

    }
    &:visited {
        color: var(--main-color-500);
    }

    &:active {
        background-color: var(--main-color-300);
    }

    &:active span, &:active .icon {
        color: var(--font-color-100);
    }
}

.active {
    background-color: var(--main-color-300);

    &:hover {
        background-color: var(--font-color-100);
    }
}

.active span, .active .icon {
    color: var(--font-color-100);

    &:hover {
        color: var(--main-color-400);
    }
}

.active:hover span, .active:hover .icon {
    color: var(--main-color-400);

}
.icon {
    margin-right: 10px;
}
.linkText {
    text-decoration: none;
}

@media (max-width: 778px) {
    .link {
        width: 45px;
    }
    .linkText {
        display: none;
    }
    .icon {
        margin-right: 0;
    }
}
@media (max-width: 440px) {
    .link {
        background-color: var(--background);

        justify-content: center;
        width: 100%;
        padding: 5px;
    }
    .linkText {
        display: block;
        color: var(--main-color-100);
    }
    .icon {
        margin-right: 10px;
        color: var(--main-color-100);
    }
}