.Sidebar {
  background-color: var(--sidebar-background);
  border: 1px solid var(--border-color);
  box-shadow: var(--main-shadow-100);
  min-height: calc(100vh - 160px);
  border-radius: 5px;
  padding: 20px 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5px;

  position: relative;
}

.themeBtn {
  cursor: pointer;
  position: absolute;
  bottom: 30px;
  left: calc((100% / 2) - 13px);
}
