.container {
    grid-gap: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: 200px auto;
    grid-template-rows: 64px auto;

    padding: 0 10px;
    margin: 10px auto;
    max-width: 1140px;
    height: calc(100vh - 100px);
}
.navbarWrap {
    grid-column: 1 / -1;
}
.sidebarWrap {
    grid-row-start: 2;
    grid-column-start: 1
}


.main {
    border: 1px solid red;
    grid-column-start: 2;
    grid-row-start: 2;
    min-height: calc(100vh - 180px);
    padding: 20px;
    border-radius: 5px;
}